<div class="container form z-depth-2">

  <div class="header-form">
    <h3> Login </h3>
  </div>

  <form method="POST" action="/login">
    <label>
      Username:
    </label>
    <input type="text" name="username">
    <br>
    <label>
      Password:
    </label>
    <input type="password" name="password">
    <button class="waves-effect btn indigo lighten-1">Login</button>

  </form>
</div>
