<div class="col s3">
    <div class="card small">
        <div class="card-image small">
            <img src="{{this.image.url}}">
            <span class="card-title">{{this.name}}</span>
        </div>
        <div class="card-content">
            <p>{{this.description}}</p>
        </div>
        <div class="card-action">
            <a href="/trip/{{this._id}}">Visit the trip</a>
        </div>
    </div>
</div>
